html {
    background-color: #2196f3;
    min-height: 1000px;
    font-family: "helvetica neue";
    background: url(fondo.png), #2196f3;
    background: url(fondo.png),
      webkit-gradient(linear, right top, left top, from(#2196f3), to(#009688));
    background: url(fondo.png),
      linear-gradient(to left, #2196f3, #009688);
  }
#listado{
    background-color: blue;
    text-align: center;
    border-radius: 5px;
    max-width: 400px;
    margin: 50px auto;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
    color: white;
}
h1{
    padding: 10px;
}
#nombres{
    background-color: white;
    border-radius: 5px;
    max-width: 400px;
    margin: 50px auto;
}
#nombreCompleto{
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
}
#divform{
  background-color: white;
  border-radius: 5px;
  max-width: 400px;
  margin: 50px auto;
}
button{
  min-height: 50px;
    width: 50px;
    border-radius: 50%;
    border-color: transparent;
    background-color: #3f51b5;
    color: #fff;
    font-size: 30px;
    padding-bottom: 6px;
    border-width: 0;
}
input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-weight: 200;
  width: 40%;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #3f51b5;
}

